@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
    --transparent: #00000000;
    --primary: #222831;
    --secondary: #393E46;
    --elements: #00ADB5;
    --font-color: #EEEEEE;
    --font-family: 'Playpen Sans', cursive;
}

html {
    scroll-behavior: smooth;
    background-image: url(Assets/bg.png);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playpen Sans', sans-serif;
    color: var(--font-color);
}



/* Navbar */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0 0 5px var(--font-color);
    transition: text-shadow 200ms ease-in-out;
}

.navlink {
    display: flex;
    padding: 20px;
}

.name {
    font-size: 2em;
    flex-grow: 1;
    justify-content: flex-start;
}




/* Top Scroll */
.top-scroll img {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: orange;
    border-radius: 1000px;
    transition: background-color 200ms ease-in-out;
}

.top-scroll img:hover {
    background-color: var(--secondary);
}

/* DP Section */

.dp {
    width: 8vw;
    height: auto;
    border: 5px solid var(--primary);
    border-radius: 1000px;
    transition-property: rotate, scale, translate;
    transition: 200ms ease-out;
}

.dp:hover {
    rotate: 360deg;
    scale: 4;
    translate: 50% 80%;
}

/* Socials */

.social {
    position: fixed;
    right: -85px;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sm a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: translate 500ms ease-in;
}

.sm a:hover {
    translate: -85px 0px;
}

.sm img {
    margin-right: 10px;

}

.social img {
    width: 30px;
}



/* Main Text Area General */
main {
    margin: 3vw 10vw;
    padding: 30px;
    background-color: var(--primary);
    border: 5px solid var(--secondary);
    border-radius: 30px;
    font-weight: 400;
}

main a {
    color: var(--font-color);
    font-weight: 700;
}

main a:hover {
    text-shadow: 0 0 10px;
}

main p {
    padding: 5px;
}

main h1,h2,h3,h4,h5,h6{
    color: var(--elements);
    font-weight: 900;
}

/* Main Text Area course.html */
main.courses{
    padding: 0;
}
div.department{
    display: flex;
    margin: 20px;
    background-color: var(--secondary);
    border: 5px solid var(--font-color);
    border-radius: 30px;
}
div.image{
    width: 200px;
    border-right: 5px solid var(--font-color);
}
div.image img{
    width: 195px;
    height: 100%;
    object-fit: cover;
    border-radius: 30px 0px 0px 30px;
}
div.list{
    padding: 20px;
}
